<div class="eventImage">
  <div class="eventDescription">
    <h1>Visit Moscow!</h1>
    <h3>Best everything in Russia's best city.</h3>
  </div>
</div>



<% City.all.each do |city| %>
    <div class= "tourSnippet">
      <div class="cityImage">
         <%= image_tag(city.image, size: "250x250")%>
         <h3><%= link_to "#{city.name}", city_path(city)%></h3>
      </div>
    </div>
<% end %>


  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
  $( "#autocomplete-city" ).autocomplete({
    source: <%= raw City.pluck(:name) %>
  });
  $( "#autocomplete-tag" ).autocomplete({
    source: <%= raw Tag.pluck(:name) %>
  });
</script>
