 
<div class="grayBoxBG horizontalCenter" style="width: 50em">

        <%= render 'mailbox/folders' %>


				<% if is_conversation %>
            <%= render 'conversations/form' %>
        <% else %>
				<%= render partial: 'conversations/conversation', collection: messages %>


    <%= link_to "Compose", new_conversation_path, class: "btn btn-success", class: "linkBtn" %>
    <% end %>
</div>
