/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */

*{
  font-family: Helvetica, sans-serif;
  font-weight: thin;
  box-sizing: border-box;
}



body {
  padding: 0;
  margin: 0;
  width: 100%;
}

nav {
  color: white;
  height: 5.1em;
  background-color: #DB5120;
  padding: 1.4em .8em .8em .8em;
  width: 100%;
  z-index: 1;
}

nav img{
  float: left;
  margin-left: .5em;
}


nav a{
  text-decoration: none;
  color: white;
  margin-left: 1em;

}

p {
    font-family: sans-serif;
}

label.select {
    position: relative;
    display: inline-block;
}

    .select select {
      display: inline-block;
      border: 0 solid;
      padding: 6px 3px 3px 6px;
      margin: 0;
      font: relative;
      outline: none;
      line-height: 1;
      background: #f8f8f8;
      -webkit-appearance: none;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 0;
    }

    /* for Webkit's CSS-only solution */
    @media screen and (-webkit-min-device-pixel-ratio:0) { 
        .custom-select select {
            padding-right:30px;    
        }
    }
    
    /* Since we removed the default focus styles, we have to add our own */
    .select select:focus {
        -webkit-box-shadow: 0 0 3px 1px #c00;
        -moz-box-shadow: 0 0 3px 1px #c00;
        box-shadow: 0 0 3px 1px #c00;
    }
    
    /* Select arrow styling */
    .select:after {
        content: "▼";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 40%;
        line-height: 20px;
        padding: 0 4px;
        background: #FFF;
        color: rgb(134, 134, 134);
        pointer-events: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0 6px 6px 0;
        /* border-radius: 0 6px 6px 0; */
    }
    
    .no-pointer-events .custom-select:after {
        content: none;
    }


a{
  text-decoration: none;
  color: #DB5120;
}

h4 {
  display: inline-block;
}

.searchBar{
  display: inline;
  float: left;
  padding: .6em 0 0 2em;
}

.userSettings{
  display: inline;
  float: right;
  padding: .6em 0 0 0;
}

.eventImage{
 background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://insights.ingredientsnetwork.com/wp-content/uploads/2015/03/mytravelingtheword-saint-basils-cathedral-moscow.jpg');
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 500px;
  position: relative;
}

.eventDescription{
  right: 0;
  top: 25%;
  width: 33%;
  color: white;
  position: absolute;
}

.tourDescription{
  padding: 4em;
  width: 50%;
  color: white;
  display: inline-block;
}

.tourImage{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://insights.ingredientsnetwork.com/wp-content/uploads/2015/03/mytravelingtheword-saint-basils-cathedral-moscow.jpg');
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 500px;
}


.userTourAvatar {
  display: inline-block;
  vertical-align: middle;
  margin-top: 6.5em;
}


.map{
  z-index: 2;
  display: inline-block;
  height: 350px;
  width: 500px;
  background-color: yellow;
  float: right;
}



.tourImageFloat {
display: block;
margin-top: -13em;
margin-bottom: 3em;
padding: 3em;
}


.linkBtn{
  background-color: #DB5120;
  display: inline-block;
  border: 0 none;
  height: 3em;
  padding: .9em 1.5em;
  margin-right: 1em;
  color: white;
  font-weight: bold;
  font-size: .9em;
}

.linkBtnGray {
  background-color: #9B9B9B;
  border: 0 none;
  display: inline-block;
  height: 3em;
  padding: .9em 1.5em;
  margin-right: 1em;
  color: white;
  font-weight: bold;
  font-size: .9em;
}

.linkBtnSmall {
  background-color: #9B9B9B;
  border: 0 none;
  display: inline-block;
  height: 2em;
  padding: .5em 1em;
  margin-right: 1em;
  color: white;
  font-size: .7em;
}

ul, li {
  list-style: none;
}

.tourBodyContainer {
  margin: 3em;
}

.grayBoxBG {
  background-color: #E7E7E7;
  padding: 3em;
  margin-bottom: 5em; 
}

.tourSnippet{
  display: inline-block;
  width: 33%;
  padding: 3em;
  margin: 0 auto;
  margin-bottom: 2em;

}


p{
  font-size: 0.9em;
}


.tourSnippet img{
  float: right;
  margin-top: 1em;
}

.userProfileAvatar img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.userProfileAvatar{
  margin: 3em 0;
}

.userProfileAvatar h2, .userProfileAvatar a{
  text-align: center;
  clear: both;
  display: block;
}



.userBadgesContainer{
  width: 95%;
  height: 14em;
  padding: 2.5em;
  margin: 0 auto;
  background-color: #F7F7F7;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 4em;
}

.userBadge{
  display: inline-block;
  margin-right: 2em;
  vertical-align: top;
}

.userBadgesContainer img{
  width: 5em;
  height: 5em;
}

.userBadgesContainer h4{
  text-align: center;
  display: inline-block;
  width: 9.5em;
}

.userToursList, .userCurrentToursList, .userFriendsList{
  display: inline-block;
  width: 33%;
  padding: 3em;
  margin: 0 auto;
  margin-bottom: 2em;
  vertical-align: top;
}




.featuredCities {

}

.featuredCities img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.featuredCitiesImage {
  width: 10em;
  height: 13em;
  position: relative;
  display: inline-block;
}


/*.nycCities,
.bkCities,
.sfCities,
.laCities,
.dtCities,
.chCities,
.auCities,
.stCities,
.boCities {
  height: 20em;
  width: 33%;
  padding-right: 3em;
  display: inline-block;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nycCities {
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('assets/images/cities/001.jpg');
}

.bkCities {

}

.sfCities {

}

.laCities {

}

.dtCities {

}

.chCities {

}

.auCities {

}

.stCities {

}

.boCities {

}
*/