// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#overlay {
position: absolute;
top: 100px;
text-align: center;
font-size: 20px;
background-color: rgba(221, 221, 221, 0.3);
width: 80%;
padding: 10px 0;
}

#video {
z-index: -1;
}
